<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
</head>
<body>
        <div id="page">
    <nav>
<ul>
<li><a href=".">ツイート</a></li>
<li><a href=".">ツイートと返信</a></li>
<li><a href=".">メディア</a></li>
<li ><a href=".">いいね</a></li>
</div>
</ul>
</nav>



<div id ="pageSub">
    
    
    
</div>
</body>
</html>