<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
</head>
<body>
           <div id="pageSub">
    <nav>
<ul>
<li><a href=".">ホーム</a></li><br></br>

</ul>

</nav>
<nav>
<ul>
<li><a href=".">話題を検索</a></li><br></br>

</ul>
</nav>

<nav>
<ul>
<li><a href=".">通知</a></li><br></br>

</ul>

</nav>
    <nav>
<ul>
<li><a href=".">メッセージ</a></li><br></br>

</ul>

</nav>
    <nav>
<ul>
<li><a href=".">ブックマーク</a></li><br></br>

</ul>

</nav>
    <nav>
<ul>
<li><a href=".">リスト</a></li><br></br>

</ul>

</nav>
    <nav>
<ul>
<li><a href=".">プロフィール</a></li><br></br>

</ul>

</nav>
    <nav>
<ul>
<li><a href=".">もっと見る</a></li><br></br>

</ul>

</nav>
    <nav>
<ul>
<li><a href=".">ツイート</a></li><br></br>

</ul>

</nav>
</div>
</body>
</html>